<!DOCTYPE html>
<html>
 <head>
   <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
 </head>
 <body>
 <h3>Hi <%= @user.first_name %> <%= @user.last_name %></h3>
   <p>Congratulations, you have added a new vehicle to the parking system</p>
  </body>
</html>
